@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f0f0f0;
}

header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00274d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004080;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #00274d;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
@media(max-width:360px){
    header {
        height: 60px;
        display: flex;
        font-size:8px;
        text-align:left;
        

    .logo-container{
        margin-right:10px;
    }
    }
    header h1{
        margin-top:-7px;
    }
    .logo-container img{
        width:50px;
        height:auto;
        

    }
    .register-form {
        margin-top:0px;
        border-radius:0;
    }

}
