@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



header {
    background: linear-gradient(rgba(0, 39, 77,0.2), rgba(0, 39, 77,0.2)), url(campus.jpg) no-repeat center 30%; /* Blue tint and image */
    background-size: cover;
    background-position: center 40%;
    color: white;
    text-align: center;
    padding: 20px 0;
    padding-bottom: 40px;
}


.auth-buttons button:hover {
    background-color: #004080;
}

.intro {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border-radius: 5px;
    align-items: center; /* Centers content horizontally */
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 40px;
}
.intro p{
    line-height: 1.8;
    max-width: 1200px;
}
.intro h2{
    line-height: 3;

}

.departments li{
    margin:5px;
}
.departments program {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
    max-width: 1200px; 
    padding: 20px;
}
.departments h2{
    padding-top:30px;
    font-size:20 px;
    padding-bottom:30px;
}
.program {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.program h3{
    padding-bottom: 20px;
}



form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #00274d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #004080;
}

.auth-buttons {
    text-align: center;
    margin: 20px 0;
}

.auth-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #00274d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
@media(max-width:360px){
    .motto {
        font-size:15px;
    }
}
